<div class="album py-5 bg-light">
  <div class="container">
    <%=link_to 'New User', new_user_path, class: 'btn btn-outline-primary mb-4' %>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <%= render partial: "shared/card", collection: @users %>
    </div>
  </div>
</div>

